<a class="dropbtn" routerLink=''>CLOSE</a>
<h2>Transaction</h2>
<label>Product Name</label>
<select [(ngModel)]='fname'>
    <option>Apple</option>
    <option>Mango</option>
    <option>Banana</option>
    <option>Orange</option>
    <option>Watermelon</option>
</select>
<label>Quantity Type</label>
<select [(ngModel)]='type'>
    <option>In</option>
    <option>Out</option>
</select>
<label>Quantity</label>
<input type="number" [(ngModel)]='quantity'>
<br><br>
<button (click)='add()'>Add</button>
<br><br>
<table>
    <tr>
        <th>S.No</th>
        <th>Date</th>
        <th>Name</th>
        <th>Quantity Type</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let x of transaction; let i = index">
        <td>{{i + 1}}.</td>
        <td>{{x.Dates}}</td>
        <td>{{x.Name}}</td>
        <td>{{x.Type}}</td>
        <td>{{x.Quantity}}</td>
        <td><button (click)="delete(i)">Delete</button></td>
    </tr>
</table>