<a class="dropbtn" routerLink=''>CLOSE</a>
<h2>Transaction</h2>
<label>Name</label>
<select [(ngModel)]='fname'>
    <option *ngFor="let x of products" >{{x.name}}</option>
</select>
<br><br>
<label>Quantity</label>
<input type="number" [(ngModel)]='quantity' placeholder="enter quantity">
<br><br>
<button (click)='in()'>In</button>
<button (click)='out()'>Out</button>
<table>
    <tr>
        <th>S.No</th>
        <th>Date</th>
        <th>Name</th>
        <th>Quantity Type</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let y of transaction; let i = index">
        <td>{{i + 1}}.</td>
        <td>{{y.Dates}}</td>
        <td>{{y.Name}}</td>
        <td>{{y.Type}}</td>
        <td>{{y.Quantity}}</td>
        <td><button (click)="delete(i)">Delete</button></td>
    </tr>
</table>