* {
    box-sizing: border-box;
}
h2 {
    background-color: yellow;
    color: rgb(255, 0, 76);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    padding: 1px;
    text-align: center;
    font-size: 30px;
}
input {
    margin-right: 5px;
    border: none;
    outline: none;
    
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: wheat;
    padding: 10px;
    font-size: 20px;
}
td {
    background-color: white;
    text-align: center;
}
table {
    width: 50%;
    margin-left: 10px;
}
button {
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}
button:hover {
    background-color: blue;
}
.p{
    color: yellow;
    font-weight: bolder;
    background-color: blue;
    padding: 3px;
    width: 50%;
}
.dropbtn {
    float: right;
    background-color: rgb(7, 196, 7);
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.dropbtn:hover {
    background-color: green;
}
a {
    text-decoration: none;
}